.blog-top-main2 {
    background: url(../../../Images/businesses-make-Profit.png);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.blog-top-main2::after {
    content: '';
    background: rgba(255, 255, 255, 0.5);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
}

.blog-top-main2 .row {
    height: 100vh;
    position: relative;
    z-index: 999;
}