.ayuvani-top-slider {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    height: 100vh;
    background: url(../../../Images/ayuvani-top.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}