.hire-ios-top {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    background: url(../../../Images/hire-ios-top-developers.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header-slider .container {
    width: 86%;
    max-width: 100%;
}

.header-slider .row h1 span {
    color: #024d81;
}

.header-slider .row h1 {
    color: #000;
    margin: 150px 0 30px;
}

/* .header-slider .row .col-lg-6:first-child {
    margin-top: 30px;
} */

.header-slider .container>.row>.col-lg-6:first-child {
    margin-top: 30px;
}

.header-slider .btn {
    margin: 20px 0 0;
}

.hire-developers {
    padding-top: 150px;
    padding-bottom: 100px;
}

.hire-developers .header-top-con {
    text-align: left !important;
}

.hire-developers .row .header-top-con h1 {
    text-align: left !important;
    margin-top: 0;
}

.header-top-slider.hire-developers .row .header-top-con h5 {
    text-align: left !important;
    margin: 0;
    width: 100%;
}

.hire-developers .header-top-con ul {
    margin: 30px 0 15px;
    padding: 0 0 0 15px;
}

.hire-developers .header-top-con ul li {
    margin: 0 0 5px;
}

.hire-form {
    text-align: left;
}

.hire-form {
    background: rgba(2, 77, 129, .7);
    display: inline-block;
    width: 100%;
    padding: 30px;
    border-radius: 20px;
}

.hire-form h4 {
    color: #fff;
    margin: 0 0 20px;
}

.hire-form label {
    color: #fff;
    margin: 0 0 5px;
}

.hire-form .form-control::placeholder {
    color: #fff;
}

.hire-form label span {
    color: red;
}

.hire-form .form-control {
    margin: 0 !important;
}

.hire-form .form-control {
    height: 50px;
    margin: 0 0 10px;
    background: 0 0;
    color: #fff;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}











.approx-budget .form-select {
    height: 50px;
    margin: 0 0 10px;
    background: 0 0;
    color: #fff;
    width: 100%;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    padding: 11px 0.75rem;
    position: relative;
    background-image: linear-gradient(45deg, transparent 50%, #fff 50%), linear-gradient(135deg, #fff 50%, transparent 50%), linear-gradient(to right, #fff, #fff);
    background-position: calc(100% - 20px) calc(1em + 6px), calc(100% - 15px) calc(1em + 6px), calc(100% - 3em) 0.8em;
    background-size: 5px 5px, 5px 5px, 1px 1.5em;
    background-repeat: no-repeat;
}

.approx-budget .form-select option {
    color: #000;
}

.approx-budget .form-select::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}

.hire-form textarea.form-control {
    height: auto;
}

textarea.form-control {
    min-height: calc(1.5em + 0.75rem + 2px);
}

.hire-form p {
    margin: 20px 0 0;
}

.hire-form p small {
    color: #fff;
    line-height: 24px;
}

.hire-form p small span {
    color: red;
}

.alert-success {
    color: #0f5132;
    background-color: #d1e7dd;
    border-color: #badbcc;
}





/* ------------------------- we-are-tag-line hire-tag-line ------------------------- */



.hire-tag-line .we-are-tag-line-con h2 {
    color: #fff;
    text-align: center;
    font-size: 40px !important;
    line-height: 50px !important;
    margin: 0 0 20px;
}

.hire-tag-line .we-are-tag-line-con h4 {
    color: #fff;
    text-align: center;
    font-size: 20px !important;
    line-height: 30px !important;
    font-weight: 600;
}

.mt-1 {
    margin-top: 100px !important;
}




/* ------------------------- best-fit technical-expertise ------------------------- */



.technical-expertise {
    background: #005a98;
    display: inline-block;
    width: 100%;
    vertical-align: top;
    margin-top: 50px;
}

.technical-expertise .con-head ul {
    padding: 0 0 0 15px;
    margin: 30px 0 0;
}

.technical-expertise .con-head ul li {
    margin: 0 0 10px;
}

.technical-expertise .btn {
    background: #fff;
    color: #024d81 !important;
}




/* ------------------------- ai-ml-we-work hiring-process-main ------------------------- */



.hiring-process {
    margin: 30px 0 0;
}

.hiring-process .process-box {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    text-align: center;
}

.hiring-process .process-box .process-ic {
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 auto;
    padding-bottom: 40px;
    border: 3px dashed #024d81;
}

.hiring-process .process-box p {
    background: #024d81;
    display: inline-block;
    width: 100%;
    vertical-align: top;
    color: #fff;
    font-size: 18px;
    line-height: 24px;
    padding: 15px 20px;
    border-radius: 10px;
    margin: -60px 0 0;
    font-weight: 500;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .15);
    min-height: 78px;
}

.dropdown.form-control {
    padding: 0;
}

.dropdown.form-control .multiselect {
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    background-color: transparent;
    margin: 0;
    border-radius: 0px;
    border: none;
    text-align: left;
    padding: 12px;
    position: relative;
}

.selected-data {
    width: 93%;
    overflow-x: hidden;
}

.dropdown.form-control .multiselect:hover {
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    background-color: transparent;
    color: white;
    border-radius: 0px;
    border: none;
}

.dropdown.form-control .dropdown-toggle::after {
    position: absolute;
    content: "";
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}

.dropdown.form-control .dropdown-menu {
    width: 100%;

}

.dropdown.form-control .dropdown-menu li {
    border-bottom: none;
    padding: 0px 0px;
    margin: 0px;
}

.dropdown.form-control .dropdown-menu li:hover {
    border-bottom: none;
}

.dropdown.form-control .dropdown-menu li:hover a {
    color: #000 !important;
    background: #ececec !important;
}

.selectpicker.form-control option {
    color: #000;
}

.dropdown.form-control .option {
    position: relative;
}

.dropdown.form-control .option.selected:after {
    position: absolute;
    right: 4%;
    top: 50%;
    content: '';
    display: block;
    width: 0.5em;
    height: 1em;
    border-style: solid;
    border-width: 0 0.26em 0.26em 0;
    transform-style: preserve-3d;
    transform: translateY(-50%) rotate(45deg);
}