.keepcoolrecs-top-slider {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    height: 100vh;
    background: url(../../../Images/keepcoolrecs-top.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.about-client-con ul li {
    margin: 0 0 20px;
    color: #fff;
}

