.blockchain-top-slider {
    width: 100%;
    vertical-align: top;
    height: 100vh;
    background: url(../../../Images/blockchain-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.blockchain-top-slider .header-top-con {
    width: 70%;
    margin: 0 auto;
}