.hire-ui-ux-top {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    background: url(../../../Images/hire-ui-ux-top-designer.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
