.devops-top-slider {
    width: 100%;
    vertical-align: top;
    height: 100vh;
    background: url(../../../Images/devops-solutions-top-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.nft-dec-con .number-c span {
    color: #024d81;
}